legacy-peer-deps=true
# registry=https://pkgs.dev.azure.com/genre/974cdc3d-ce7f-4cfe-a362-d9d17250ff76/_packaging/G2Common/npm/registry/            
# always-auth=true
registry=https://registry.npmjs.org/